.loading-overlay {
  @apply items-center bottom-0 flex h-screen justify-center left-0 fixed top-0 w-screen z-[9999] opacity-30;
}

.loading-overlay .loading-item {
  @apply w-20 animate-ping ease-in-out;
}

// #preloader .loading-overlay {
//   @apply ;
// }
